* {
    box-sizing: border-box;
    height: auto;
    width: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: middle;
    border: none;
    background: none;
    font-size: 16px;
    color: black;
    font-family: sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-color: white;
}

nav {
    width: 100%;
    height: 10%;
    justify-content: space-between;
    background-color: purple;
}

main {
    width: 100%;
    height: 80%;
    flex-direction: column;
}

div {
    width: 100%;
}

span {
    height: 100%;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

nav button {
    height: 100%;
    color: white;
    cursor: pointer;
}

.top-nav .left-span {
    width: 33%;
    padding: 8px;
    justify-content: flex-start;
}

.top-nav .center-span {
    width: 33%;
    padding: 8px;
}

.top-nav .right-span {
    width: 33%;
    justify-content: flex-end;
}

.top-nav .item-span {
    padding: 8px;
}

.top-nav .title-button {
    font-size: 32px;
}

.bot-nav span {
    width: 20%;
}

.home .item-div {
    height: 33%;
    padding: 8px;
}

.home .item-span {
    width: 50%;
    padding: 8px;
}

.home button {
    height: 100%;
    width: 100%;
    border-style: groove;
    border-color: black;
    background-color: ghostwhite;
    cursor: pointer;
}

.connect {
    display: none;
}

.track {
    display: none;
}

.sensei {
    display: none;
}

.meal {
    display: none;
}

.content {
    display: none;
}

/*

.connect {
    display: none;
}

.connect .connect-1{
    height: 100%;
    box-sizing: border-box;
    flex-direction: column;
    border-style: groove;
    border-color: black;
    border-radius: 16px;
    background-color: ghostwhite;
    color: black;
}

.connect div {
    width: 100%;
    box-sizing: border-box;
    flex-direction: row;
    border: none;
    background: none;
}

.connect header {
    font-size: 32px;
}

.connect button {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border: none;
    background: none;
    font-size: 16px;
    text-align: left;
    cursor: pointer;
}

.track {
    display: none;
}

.track .div-calendar {
    height: 100%;
    flex-direction: column;
}

.track table {
    border-collapse: collapse;
    background: white;
    color: black;
}
 
.track th {
    font-weight: bold;
}

.track td {
    font-weight: bold;
}

.sensei {
    display: none;
}

.sensei .div-text {
    height: 90%;
}

.sensei .span-text {
    width: 100%;
    flex-direction: column;
}

.sensei .span-bubble {
    width: 100%;
    height: 30%;
    background-color: rebeccapurple;
    border-style: groove;
    border-color: black;
    border-radius: 16px;
    color: white;
    font-size: 16px;
}

.sensei .div-message {
    height: 10%;
}

.sensei .span-message {
    width: 100%;
    justify-content: space-between;
}

.sensei .button-message {
    width: 80%;
    background-color: ghostwhite;
    border-style: groove;
    border-color: black;
    border-radius: 32px;
    color: black;
    font-size: 16px;
    cursor: pointer;
}

.sensei .button-send {
    width: auto;
    background-color: rebeccapurple;
    border-style: groove;
    border-color: black;
    border-radius: 32px;
    font-size: 16px;
    color: white;
    cursor: pointer;
}

.meal {
    display: none;
}

.meal .div-date {
    height: 10%;
}

.meal .button-date {
    width: auto;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    background-color: ghostwhite;
    border-style: groove;
    border-color: black;
    border-radius: 16px;
    color: black;
    font-size: 24px;
    cursor: pointer;
}

.meal .div-meal {
    height: 80%;
    flex-direction: column;
}

.meal .div-item {
    width: 100%;
    flex-direction: column;
    border-style: groove;
    border-color: black;
    border-radius: 16px;
    background-color: ghostwhite;
}

.meal .div-header {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.meal header {
    font-size: 24px;
    color: black;
}

.meal .div-content {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.meal p {
    height: auto;
    margin: 0;
    font-size: 16px;
    color: black;
}

.meal .div-add {
    height: 10%;
    justify-content: flex-end;
}

.meal .button-add {
    height: 100%;
    border-style: groove;
    border-color: black;
    border-radius: 32px;
    background-color: rebeccapurple;
    font-size: 16px;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.content {
    display: none;
}

.content .header-div {
    height: 5%;
    flex-direction: row;
    justify-content: space-between;
}

.content .header-span {
    width: auto;
    flex-direction: row;
}

.content header {
    font-size: 24px;
}

.content button {
    height: 100%;
    box-sizing: border-box;
    border: none;
    background: none;
    font-size: 16px;
    color: blue;
    cursor: pointer;
}

.content .content-div {
    height: 25%;
    flex-direction: row;
}

.content .content-span {
    width: 33%;
    flex-direction: row;
}

.content a {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: groove;
    border-color: black;
    border-radius: 16px;
    background-color: ghostwhite;
    color: black;
}

*/