body {
    background-color: #ffffff;
    border: none;
    height: 100vh;
    padding: 0;
    margin: 0;
}

nav {
    background-color: #8800ff;
    border: none;
    justify-content: space-between;
    height: 10vh;
    margin: 0;
    padding: 0;
}

nav button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 16px;
    padding: 0;
}

main {
    background: none;
    border: none;
    height: 80vh;
    padding: 0;
    margin: 0;
}

div {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
}

.home {
    display: block;
}

.home div {
    height: 33%;
}

.profile {
    display: none;
}

